p {
    margin-left: 12px;
    margin-right: 12px;
    color: #222;
}
ul {
    margin-right: 12px;
}
ul>li {
    color: #222;
}
a {
    color: #222;
}
.next {
    float: right;
    padding-bottom: 12px;
    padding-right: 12px;
    color: #222;
    opacity: 0.5;
}

#sunflowers .page__background {
    background-image: url("../img/sunflowers.png");
    background-size: cover;
}

.domain1 .page__background {
    background-color: rgb(184, 204, 227);
}
.domain2 .page__background {
    background-color: rgb(194, 213, 155);
}
.domain3 .page__background {
    background-color: rgb(249, 190, 144);
}
.domain4 .page__background {
    background-color: rgb(147, 137, 83);
}
.domain5 .page__background {
    background-color: rgb(255, 255, 154);
}
.domain6 .page__background {
    background-color: rgb(146, 208, 80);
}
.domain7 .page__background {
    background-color: rgb(228, 184, 183);
}
.domain8 .page__background {
    background-color: rgb(182, 221, 232);
}